## CSV Delimiters Test

<font color='lightgreen'>file_path = r"C:\Temp\Movies_Custom_Delimeter.csv" (\~@\~)</font><br>------------------------------------------------------------<br>ID\~@\~Title\~@\~Release Date\~@\~Run Time\~@\~Genre\~@\~Director\~@\~Country\~@\~Certificate\~@\~Budget\~@\~Box Office\~@\~Nominations\~@\~Oscar Wins
1\~@\~Jurassic Park\~@\~6/11/1993\~@\~126\~@\~Adventure\~@\~Steven Spielberg\~@\~United States\~@\~PG\~@\~63000000\~@\~1029939903\~@\~3\~@\~3

<font color='orange'>file_path = r"C:\Temp\Movies_Custom_Delimeter1.csv"  (@)</font><br>------------------------------------------------------------<br>ID@Title@Release Date@Run Time@Genre@Director@Country@Certificate@Budget@Box Office@Nominations@Oscar Wins
1@Jurassic Park@6/11/1993@126@Adventure@Steven Spielberg@United States@PG@63000000@1029939903@3@333

<font color='yellow'>file_path = r"C:\Temp\Movies_Custom_Delimeter2.csv"  (ᚵ)</font><br>------------------------------------------------------------<br>IDᚵTitleᚵRelease DateᚵRun TimeᚵGenreᚵDirectorᚵCountryᚵCertificateᚵBudgetᚵBox OfficeᚵNominationsᚵOscar Wins
1ᚵJurassic Parkᚵ6/11/1993ᚵ126ᚵAdventureᚵSteven SpielbergᚵUnited StatesᚵPGᚵ63000000ᚵ1029939903ᚵ3ᚵ3

## Import Libraries

In [1]:
import pandas as pd

In [27]:
# Specify the file path and name
# file_path = r"C:\Temp\Movies_Custom_Delimeter.csv"
# file_path = r"C:\Temp\Movies_Custom_Delimeter1.csv"
file_path = r"C:\Temp\Movies_Custom_Delimeter2.csv"

# Read the CSV file into a pandas DataFrame
# df = pd.read_csv(file_path, delimiter='~@~')
# df = pd.read_csv(file_path, delimiter='~@~', engine='python')
# df = pd.read_csv(file_path, delimiter='~@~', engine='c', encoding='ISO-8859-1')
# df = pd.read_csv(file_path, delimiter='~@~', engine='python', encoding='ISO-8859-1')
# df = pd.read_csv(file_path, delimiter='@')
# df = pd.read_csv(file_path, delimiter='@', engine='python')
# df = pd.read_csv(file_path, delimiter='@', encoding='latin1')
# df = pd.read_csv(file_path, delimiter='@',  encoding='ISO-8859-1')
df = pd.read_csv(file_path, delimiter='ᚵ', engine='python', encoding='UTF-16')
df

,ID,Title,Release Date,Run Time,Genre,Director,Country,Certificate,Budget,Box Office,Nominations,Oscar Wins
0,1,Jurassic Park,6/11/1993,126,Adventure,Steven Spielberg,United States,PG,63000000.0,1.029940e+09,3,3
1,2,Spider-Man,5/3/2002,121,Action,Sam Raimi,United States,12A,140000000.0,8.217086e+08,2,0
2,3,King Kong,12/14/2005,187,Adventure,Peter Jackson,New Zealand,12A,207000000.0,5.505000e+08,4,3
3,5,Superman Returns,7/14/2006,154,Action,Bryan Singer,United States,12A,204000000.0,3.910812e+08,1,0
4,6,Titanic,1/23/1998,194,Romance,James Cameron,United States,12,200000000.0,2.186772e+09,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1674,Samson and Delilah,12/21/1949,128,Drama,Cecil B. DeMille,United States,U,2900000.0,2.560000e+07,5,2
1196,1675,The NeverEnding Story,4/6/1984,93,Fantasy,Wolfgang Peterson,Germany,U,27000000.0,1.000000e+08,0,0
1197,1676,Enemy Mine,12/20/1985,108,Science Fiction,Wolfgang Peterson,United States,15,29000000.0,1.230000e+07,0,0
1198,1677,In the Line of Fire,7/9/1993,128,Thriller,Wolfgang Peterson,United States,15,40000000.0,1.770000e+08,3,0
1199,1678,Outbreak,3/10/1995,128,Thriller,Wolfgang Peterson,United States,15,50000000.0,1.898000e+08,0,0

####  <font color='lightgreen'>The 'c' engine does not support separators greater than 1 character when encoded in UTF-8.<br> Therefore, pandas is falling back to the 'python' engine to read the CSV file.<br> The warning message also suggests that we can avoid this warning by specifying engine='python'.<br><br>  Since this character: <b><font color='red' size='5'>`ᚵ`</font></b>is not a standard delimiter, pandas is treating it as a regular character and trying to read the file using the specified encoding (UTF-16) </font>

NOTE: <br>
ISO-8859-1 is a character encoding standard that is part of the ISO/IEC 8859 series of ASCII-based standard character encodings. It is also known as Latin-1 and is used throughout the Americas, Western Europe, Oceania, and much of Africa 1. It encodes what it refers to as “Latin alphabet no. 1”, consisting of 191 characters from the Latin script 1. `"latin1"` is a Python alias for ISO-8859-1 character encoding. In other words, `"latin1"` and `"ISO-8859-1"` are almost the same encoding. It encodes the upper range of ISO 8859-1.

## Dynamically find the correct encoding

In [19]:
import chardet

# file_path = r"C:\Temp\Movies_Custom_Delimeter.csv"
# file_path = r"C:\Temp\Movies_Custom_Delimeter1.csv"
file_path = r"C:\Temp\Movies_Custom_Delimeter2.csv"

# Detect the encoding
with open(file_path, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# Print the encoding
print(result['encoding'])

# Now use the detected encoding to read the file
# df = pd.read_csv(file_path, delimiter='~@~', encoding=result['encoding'], engine='python')
# df = pd.read_csv(file_path, delimiter='@', encoding='latin1')
# df = pd.read_csv(file_path, delimiter='ᚵ', encoding=result['encoding'])
df = pd.read_csv(file_path, delimiter='ᚵ', encoding=result['encoding'],  engine='python')

# Print the dataframe
df

UTF-16

,ID,Title,Release Date,Run Time,Genre,Director,Country,Certificate,Budget,Box Office,Nominations,Oscar Wins
0,1,Jurassic Park,6/11/1993,126,Adventure,Steven Spielberg,United States,PG,63000000.0,1.029940e+09,3,3
1,2,Spider-Man,5/3/2002,121,Action,Sam Raimi,United States,12A,140000000.0,8.217086e+08,2,0
2,3,King Kong,12/14/2005,187,Adventure,Peter Jackson,New Zealand,12A,207000000.0,5.505000e+08,4,3
3,5,Superman Returns,7/14/2006,154,Action,Bryan Singer,United States,12A,204000000.0,3.910812e+08,1,0
4,6,Titanic,1/23/1998,194,Romance,James Cameron,United States,12,200000000.0,2.186772e+09,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1674,Samson and Delilah,12/21/1949,128,Drama,Cecil B. DeMille,United States,U,2900000.0,2.560000e+07,5,2
1196,1675,The NeverEnding Story,4/6/1984,93,Fantasy,Wolfgang Peterson,Germany,U,27000000.0,1.000000e+08,0,0
1197,1676,Enemy Mine,12/20/1985,108,Science Fiction,Wolfgang Peterson,United States,15,29000000.0,1.230000e+07,0,0
1198,1677,In the Line of Fire,7/9/1993,128,Thriller,Wolfgang Peterson,United States,15,40000000.0,1.770000e+08,3,0
1199,1678,Outbreak,3/10/1995,128,Thriller,Wolfgang Peterson,United States,15,50000000.0,1.898000e+08,0,0